
<md-list ng-if="collection.length > 0" ng-cloak>

  <md-subheader class="md-no-sticky">LCTR Collections</md-subheader>
  <md-list-item ng-repeat-start="item in collection">
    <p> {{ item.incidentNumber }} </p>
    <md-checkbox ng-click="triggered(item)" class="md-secondary" ng-model="item.checked"></md-checkbox>
  </md-list-item>

  <md-divider ng-repeat-end></md-divider>
</md-list>
<md-button ng-if="collection.length > 0" class="md-primary md-raised" ng-click="editIncident()">EDIT</md-button>