    <div class="p8">
      <md-tabs class="md-accent" md-selected="data.selectedIndex" md-align-tabs="{{data.bottom ? 'bottom' : 'top'}}">
        <md-tab ng-click="tabSelect(tab)" ng-repeat="tab in data.tabs" id="tab{{tab.id}}" ng-disabled="tab.disabled">
          <md-tab-label>{{tab.label}}</md-tab-label>
        </md-tab>
      </md-tabs>
      <div class="tabpanel-container">
      <div ng-if="data.tabs.length > 1 && data.grid.length > 0" role="tabpanel" id="tab1-content" aria-labelledby="tab1" md-swipe-left="next()" md-swipe-right="previous()">
        <md-list>
          <md-subheader class="md-no-sticky">Content</md-subheader>
          <md-list-item ng-repeat="row in data.grid" class="noright">
            <p>{{ row.label }}</p>
            <p>{{ row.value }}</p>
          </md-list-item>
        </md-list>
        <md-button class="md-primary md-raised" ng-click="edit()">EDIT</md-button>
        
      </div>

    </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="myStaticDialog">
          <div ng-repeat="tab in data.tabs" ng-show="data.selectedIndex == tab.id">
            <div ng-include="'templates/' + templateMap[tab.id]"></div>
          </div>
      </div>
    </div>

    