<md-dialog aria-label="Add Details">
  <form name="userForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Template Details</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Transit #</label>
          <input name="label" ng-model="userFormData.transit" required ng-minlength="2">
        </md-input-container>
        <md-input-container>
          <label>Account</label>
          <input name="content" ng-model="userFormData.account" required ng-minlength="2">
        </md-input-container>
      </div>

    </md-dialog-content> 

    <md-dialog-actions layout="row">

      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" ng-disabled="userFormData.$invalid" ng-click="save()">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>